/* Margin utilities (1 = 8px, 2 = 16px, etc.) */
.m0 {
  margin: 0;
}
.m1 {
  margin: 8px;
}
.m2 {
  margin: 16px;
}
.m3 {
  margin: 24px;
}
.m4 {
  margin: 32px;
}
.m5 {
  margin: 40px;
}
.m6 {
  margin: 48px;
}
.m7 {
  margin: 56px;
}
.m8 {
  margin: 64px;
}
.m9 {
  margin: 72px;
}
.m10 {
  margin: 80px;
}
.m11 {
  margin: 88px;
}
.m12 {
  margin: 96px;
}

.mt0 {
  margin-top: 0;
}
.mt1 {
  margin-top: 8px;
}
.mt2 {
  margin-top: 16px;
}
.mt3 {
  margin-top: 24px;
}
.mt4 {
  margin-top: 32px;
}
.mt5 {
  margin-top: 40px;
}
.mt6 {
  margin-top: 48px;
}
.mt7 {
  margin-top: 56px;
}
.mt8 {
  margin-top: 64px;
}
.mt9 {
  margin-top: 72px;
}
.mt10 {
  margin-top: 80px;
}
.mt11 {
  margin-top: 88px;
}
.mt12 {
  margin-top: 96px;
}

.mb0 {
  margin-bottom: 0;
}
.mb1 {
  margin-bottom: 8px;
}
.mb2 {
  margin-bottom: 16px;
}
.mb3 {
  margin-bottom: 24px;
}
.mb4 {
  margin-bottom: 32px;
}
.mb5 {
  margin-bottom: 40px;
}
.mb6 {
  margin-bottom: 48px;
}
.mb7 {
  margin-bottom: 56px;
}
.mb8 {
  margin-bottom: 64px;
}
.mb9 {
  margin-bottom: 72px;
}
.mb10 {
  margin-bottom: 80px;
}
.mb11 {
  margin-bottom: 88px;
}
.mb12 {
  margin-bottom: 96px;
}

.ml0 {
  margin-left: 0;
}
.ml1 {
  margin-left: 8px;
}
.ml2 {
  margin-left: 16px;
}
.ml3 {
  margin-left: 24px;
}
.ml4 {
  margin-left: 32px;
}
.ml5 {
  margin-left: 40px;
}
.ml6 {
  margin-left: 48px;
}
.ml7 {
  margin-left: 56px;
}
.ml8 {
  margin-left: 64px;
}
.ml9 {
  margin-left: 72px;
}
.ml10 {
  margin-left: 80px;
}
.ml11 {
  margin-left: 88px;
}
.ml12 {
  margin-left: 96px;
}

.mr0 {
  margin-right: 0;
}
.mr1 {
  margin-right: 8px;
}
.mr2 {
  margin-right: 16px;
}
.mr3 {
  margin-right: 24px;
}
.mr4 {
  margin-right: 32px;
}
.mr5 {
  margin-right: 40px;
}
.mr6 {
  margin-right: 48px;
}
.mr7 {
  margin-right: 56px;
}
.mr8 {
  margin-right: 64px;
}
.mr9 {
  margin-right: 72px;
}
.mr10 {
  margin-right: 80px;
}
.mr11 {
  margin-right: 88px;
}
.mr12 {
  margin-right: 96px;
}

.mx0 {
  margin-left: 0;
  margin-right: 0;
}
.mx1 {
  margin-left: 8px;
  margin-right: 8px;
}
.mx2 {
  margin-left: 16px;
  margin-right: 16px;
}
.mx3 {
  margin-left: 24px;
  margin-right: 24px;
}
.mx4 {
  margin-left: 32px;
  margin-right: 32px;
}
.mx5 {
  margin-left: 40px;
  margin-right: 40px;
}
.mx6 {
  margin-left: 48px;
  margin-right: 48px;
}
.mx7 {
  margin-left: 56px;
  margin-right: 56px;
}
.mx8 {
  margin-left: 64px;
  margin-right: 64px;
}
.mx9 {
  margin-left: 72px;
  margin-right: 72px;
}
.mx10 {
  margin-left: 80px;
  margin-right: 80px;
}
.mx11 {
  margin-left: 88px;
  margin-right: 88px;
}
.mx12 {
  margin-left: 96px;
  margin-right: 96px;
}

.my0 {
  margin-top: 0;
  margin-bottom: 0;
}
.my1 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.my2 {
  margin-top: 16px;
  margin-bottom: 16px;
}
.my3 {
  margin-top: 24px;
  margin-bottom: 24px;
}
.my4 {
  margin-top: 32px;
  margin-bottom: 32px;
}
.my5 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.my6 {
  margin-top: 48px;
  margin-bottom: 48px;
}
.my7 {
  margin-top: 56px;
  margin-bottom: 56px;
}
.my8 {
  margin-top: 64px;
  margin-bottom: 64px;
}
.my9 {
  margin-top: 72px;
  margin-bottom: 72px;
}
.my10 {
  margin-top: 80px;
  margin-bottom: 80px;
}
.my11 {
  margin-top: 88px;
  margin-bottom: 88px;
}
.my12 {
  margin-top: 96px;
  margin-bottom: 96px;
}

/* Padding utilities (1 = 8px, 2 = 16px, etc.) */
.p0 {
  padding: 0;
}
.p1 {
  padding: 8px;
}
.p2 {
  padding: 16px;
}
.p3 {
  padding: 24px;
}
.p4 {
  padding: 32px;
}
.p5 {
  padding: 40px;
}
.p6 {
  padding: 48px;
}
.p7 {
  padding: 56px;
}
.p8 {
  padding: 64px;
}
.p9 {
  padding: 72px;
}
.p10 {
  padding: 80px;
}
.p11 {
  padding: 88px;
}
.p12 {
  padding: 96px;
}

.pt0 {
  padding-top: 0;
}
.pt1 {
  padding-top: 8px;
}
.pt2 {
  padding-top: 16px;
}
.pt3 {
  padding-top: 24px;
}
.pt4 {
  padding-top: 32px;
}
.pt5 {
  padding-top: 40px;
}
.pt6 {
  padding-top: 48px;
}
.pt7 {
  padding-top: 56px;
}
.pt8 {
  padding-top: 64px;
}
.pt9 {
  padding-top: 72px;
}
.pt10 {
  padding-top: 80px;
}
.pt11 {
  padding-top: 88px;
}
.pt12 {
  padding-top: 96px;
}

.pb0 {
  padding-bottom: 0;
}
.pb1 {
  padding-bottom: 8px;
}
.pb2 {
  padding-bottom: 16px;
}
.pb3 {
  padding-bottom: 24px;
}
.pb4 {
  padding-bottom: 32px;
}
.pb5 {
  padding-bottom: 40px;
}
.pb6 {
  padding-bottom: 48px;
}
.pb7 {
  padding-bottom: 56px;
}
.pb8 {
  padding-bottom: 64px;
}
.pb9 {
  padding-bottom: 72px;
}
.pb10 {
  padding-bottom: 80px;
}
.pb11 {
  padding-bottom: 88px;
}
.pb12 {
  padding-bottom: 96px;
}

.pl0 {
  padding-left: 0;
}
.pl1 {
  padding-left: 8px;
}
.pl2 {
  padding-left: 16px;
}
.pl3 {
  padding-left: 24px;
}
.pl4 {
  padding-left: 32px;
}
.pl5 {
  padding-left: 40px;
}
.pl6 {
  padding-left: 48px;
}
.pl7 {
  padding-left: 56px;
}
.pl8 {
  padding-left: 64px;
}
.pl9 {
  padding-left: 72px;
}
.pl10 {
  padding-left: 80px;
}
.pl11 {
  padding-left: 88px;
}
.pl12 {
  padding-left: 96px;
}

.pr0 {
  padding-right: 0;
}
.pr1 {
  padding-right: 8px;
}
.pr2 {
  padding-right: 16px;
}
.pr3 {
  padding-right: 24px;
}
.pr4 {
  padding-right: 32px;
}
.pr5 {
  padding-right: 40px;
}
.pr6 {
  padding-right: 48px;
}
.pr7 {
  padding-right: 56px;
}
.pr8 {
  padding-right: 64px;
}
.pr9 {
  padding-right: 72px;
}
.pr10 {
  padding-right: 80px;
}
.pr11 {
  padding-right: 88px;
}
.pr12 {
  padding-right: 96px;
}

.px0 {
  padding-left: 0;
  padding-right: 0;
}
.px1 {
  padding-left: 8px;
  padding-right: 8px;
}
.px2 {
  padding-left: 16px;
  padding-right: 16px;
}
.px3 {
  padding-left: 24px;
  padding-right: 24px;
}
.px4 {
  padding-left: 32px;
  padding-right: 32px;
}
.px5 {
  padding-left: 40px;
  padding-right: 40px;
}
.px6 {
  padding-left: 48px;
  padding-right: 48px;
}
.px7 {
  padding-left: 56px;
  padding-right: 56px;
}
.px8 {
  padding-left: 64px;
  padding-right: 64px;
}
.px9 {
  padding-left: 72px;
  padding-right: 72px;
}
.px10 {
  padding-left: 80px;
  padding-right: 80px;
}
.px11 {
  padding-left: 88px;
  padding-right: 88px;
}
.px12 {
  padding-left: 96px;
  padding-right: 96px;
}

.py0 {
  padding-top: 0;
  padding-bottom: 0;
}
.py1 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.py2 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.py3 {
  padding-top: 24px;
  padding-bottom: 24px;
}
.py4 {
  padding-top: 32px;
  padding-bottom: 32px;
}
.py5 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.py6 {
  padding-top: 48px;
  padding-bottom: 48px;
}
.py7 {
  padding-top: 56px;
  padding-bottom: 56px;
}
.py8 {
  padding-top: 64px;
  padding-bottom: 64px;
}
.py9 {
  padding-top: 72px;
  padding-bottom: 72px;
}
.py10 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.py11 {
  padding-top: 88px;
  padding-bottom: 88px;
}
.py12 {
  padding-top: 96px;
  padding-bottom: 96px;
}
